<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.t.meditationapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".javaActivities.LoginActivity"></activity>
        <activity android:name=".javaActivities.SignupActivity"></activity>
        <activity android:name=".activities.AbundanceActivity" />
        <activity android:name=".activities.FinicialActivity" />
        <activity android:name=".activities.HealthActivity" />
        <activity android:name=".activities.AthleticActivity" />
        <activity android:name=".activities.RelationshipActivity" />
        <activity android:name=".activities.StressActivity" />
        <activity android:name=".activities.ProfessionalActivity" />
        <activity android:name=".activities.WeightActivity" />
        <activity android:name=".activities.My_RecordingActivity" />
        <activity android:name=".activities.PrivacyActivity" />
        <activity android:name=".activities.AccountSettingActivity" />
        <activity android:name=".activities.CalculateActivity" />
        <activity android:name=".activities.SupportActivity" />
        <activity android:name=".activities.NotificationActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.My_FavoritesActivity" />
        <activity android:name=".activities.AbundanceTwoActivity" />
        <activity android:name=".activities.FinancialTwoActivity" />
        <activity android:name=".activities.HealthTwoActivity" />
        <activity android:name=".activities.AthleicTwoActivity" />
        <activity android:name=".activities.RelationshipTwoActivity" />
        <activity android:name=".activities.StressTwoActivity" />
        <activity android:name=".activities.ProfessionalTwoActivity" />
        <activity android:name=".activities.WeighTwoActivity" />
        <activity android:name=".activities.CreativtyAffirmationsActivity" />
        <activity android:name=".activities.HelpCenter_Activity" />
        <activity android:name=".activities.Terms_And_Conditions_Acxtivity" />
        <activity android:name=".activities.GetMore_Activity" />
        <activity android:name=".activities.LogOutActivity" />
<!--        <activity android:name=".activities.LoginActivity" />-->
        <activity android:name=".activities.LogOut_Activity" />
        <activity
            android:name=".activities.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.CategoriesActivities"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignUp_Activity"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".activities.SplashActivity" /> -->
        <activity
            android:name=".activities.PromoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.QuitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CongratulationActivity"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".activities.HomeActivity" /> -->
        <activity
            android:name=".activities.VoiceSelect_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Splash_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>